.header {
    position:relative;
    width: 100%;
    height: 4rem;
    margin: 0;
    z-index: 9;
    top: 0;
    justify-content:space-around;
    display: flex;
    overflow: hidden;
    align-items: center;
    color: var(--clr-light);
}

.header__logo {
    font-size: 3rem;
}

.header__btn {
    padding-bottom:1.2rem;
    padding-top:1.2rem;
    padding-left:1.6rem;
    padding-right:1.6rem;
    justify-content: center;
    display:flex;
    background-color: var(--clr-light);
    border-radius: 9999999px;
}
.header__btn a {
    text-decoration: none;
    color: var(--clr-light-black);
    font-family: noigrotesk;
}
